{% extends "partials/layout.njk"  %}
{% block title %} Form {% endblock %}
{% block content %}
<h1>circle</h1>

<form method="POST">
    
 <p>
    <label>
        Radius <br>
    <input type="number" placeholder="Radius" name="Radius">
    </label>
    </p>

    <p>
    <input type="submit" value="Saada">
    </p>
</form>
{% endblock %}