{% extends "partials/layout.njk"  %}
{% block title %} Circle Answer {% endblock %}
{% block content %}
    A = πr<sup>2</sup><br>
    A = π{{ r }}<sup>2</sup><br>
    A = π{{ r*r }} <br>
    A = {{ a }}<br>
C = 2πr<br>




{% endblock %}



1:04:55 jäi vid pausile
